body{

margin:0;

font-family:Arial, sans-serif;

background:#eeeeee;

height:100vh;

display:flex;

align-items:center;

justify-content:center;

}


.card{

background:white;

width:90%;

max-width:400px;

padding:30px;

border-radius:25px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.15);

}


#logo{

width:100px;

height:100px;

border-radius:50%;

}


.buttons a{

display:block;

margin:15px 0;

padding:15px;

background:#111;

color:white;

border-radius:12px;

text-decoration:none;

}


.footer{

margin-top:25px;

color:#777;

}
