body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f4f4;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}


.card{

background:white;

width:90%;
max-width:400px;

padding:30px;

border-radius:25px;

text-align:center;

box-shadow:0 10px 30px #0002;

}


#logo{

width:100px;

height:100px;

object-fit:contain;

border-radius:50%;

}


h1{

margin-top:20px;

}


.buttons a{


display:block;

background:#111;

color:white;

padding:15px;

margin:12px;

border-radius:15px;

text-decoration:none;

font-size:18px;

}


.footer{

margin-top:30px;

color:#888;

font-size:13px;

}
